$color-back:red;
$font-span:15px;


body{
  background-color: rgb(58, 58, 109);
}
.div-one{
  background-color: rgb(252, 255, 231);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 15px;
}
.logo{
  margin-left: 1350px;
  margin-top: -20px;
}
.span-hotel{
  color:$color-back;
margin-top: -10px;
  font-size: $font-span;
margin-left: 1200px;
}
.span-tour{
 
  color:$color-back;
  margin-top:-20px;
  font-size: $font-span;
margin-left: 1100px;
}
.span-ticket{
  color:$color-back;
  margin-top:-30px;
  font-size: $font-span;
margin-left: 990px;
}
.span-more{
  color:$color-back;
  margin-top: -40px;
  font-size: $font-span;
margin-left: 900px;
}
.input-side{
  display: none;
}
.label-side{
  display: inline-block;
}
      .label-side :checked ~nav{
        opacity: 1;
      } 
.sidebar {
 width: 150px;
 height: 100vh;
 background-color:rgb(252, 255, 231);
 position: fixed;
 transition: all 0.3s;
 overflow: hidden;
 margin-top: -10px;
  z-index: 1;
  opacity: 0;

}
     
.sidebar.expanded {
  width: 230px;
  height:650px ;
  margin-top: 17px;
  margin-left: 8px;
  border-radius:15px;}
     
.sidebar-nav {
  padding-top: 25.5px;
}
     
.nav-link {
 display: flex;
 align-items: center;
 padding: 12px 15px;
 color: rgba(255, 255, 255, 0.8);
 text-decoration: none;
 white-space: nowrap;
 transition: all 0.3s;}
     
.nav-link:hover {
 background-color:rgb(58, 58, 109);
 color: white;
 ;
}
     

     
.nav-link i {
  font-size: 1rem;
  min-width: 35px;
  text-align: center; }
     
.nav-text {
 opacity: 0;
 width: 0;
 overflow: hidden;
 transition: opacity 0.3s, width 0.3s; }
     
.sidebar.expanded .nav-text {
 opacity: 1;
 width: auto;}
     